/* NAV-BAR */
nav {
  height: 68px;
  padding: 10px 32px 10px 30px;
}
nav h1 a {
  font-size: 5rem;
  text-shadow:  1px 1px 22px #f6184c8a;
  letter-spacing: 0.2rem;
  transition: 0.7s;
}
nav h1 a:hover {
  transition: 0.7s;
  color: #e9d8a6;
}
nav h1 a:active {
  color: #FFFFFF;
}


.nav-links {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  height: auto;
  max-width: none;
  min-width: 615px;
  width: 44%;
  justify-content: space-between;
  background-color: none;
  border-radius: none;
  padding: 0;
}
.nav-links li {
  border: none;
  width: 160px;
  display: flex;
  justify-content: flex-end;
  /* border-bottom: 1px solid rgba(215, 22, 77, 0.391); */
}
.nav-links li a {
  font-size: 2.6rem;
  line-height: 2.4rem;
}
/* .nav-links #opt-about {
  padding-left: 14px;
} */
.nav-links__opt {
  transition: 0.4s;
}
.nav-links__opt:hover {
  transform: scale(1.10);
  color: #f6184c;
  text-shadow:  1px 1px 8px #f6184c8a;
}


/* LANGUAGE SELECTOR */
.lang {
  position: fixed;
  z-index: 1;
  top: 74px;
  right: 6px;
  padding: 8px;
}
/* .lang ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lang ul li {
  display: flex;
  flex-direction: column;
}
.lang a {
  text-decoration: none;
} */
#lang-selector {
  margin-bottom: 5px;
}
.lang img {
  width: 36px;
  margin-bottom: 6px;
  transition: 0.25s;
}
.lang-options {
  display: none;
  /* height: 0; */
  opacity: 0;
  /* visibility: hidden; */
  transition: opacity 0.3s ease-out;
}
/* .lang-options li, .lang-options li a, .lang-options li img {
  height: 0;
  margin: 0;
} */

.lang ul {
  /* opacity: 0; */
  transition: 0.3s ease-out;
}

.lang ul:hover .lang-options {
  height: auto;
  display: block;
  opacity: 1;
  /* visibility: visible; */
  transition: 0.3s ease-out;
}
.lang ul:hover li, .lang:hover li a, .lang:hover li img {
  height: auto;
}
.lang:hover .lang-options img {
  margin-bottom: 6px;
}

.lang img:hover {
  scale: 1.08;
  transition: 0.25s;
  border-radius: 100%;
  box-shadow: 0px 0px 2px 1px #e9d8a6;
}


/* SECTION HOME */
.sect-home__m-txt {
  font-size: 7.8rem;
  line-height: 7.3rem;
  letter-spacing: 0.16rem;
  margin-bottom: 45px;
}
.sect-home__m-txt .hs {
  font-size: 8.2rem;
  text-shadow:  1px 1px 22px #f6184c8a;
}

.sect-home__s-txt a {
  font-size: 2rem;
  letter-spacing: 0.24rem;
  transition: 0.4s;
}
.sect-home__s-txt a span {
  margin-left: 13px;
}
.sect-home__s-txt img {
  width: auto;
  height: 28px;
  transition: 0.4s;
  transform: scale(1);
}
.sect-home__s-txt a:hover {
  color: #FFFFFF;
  transition: 0.4s;
}
.sect-home__s-txt img:hover {
  transition: 0.4s;
  transform: scale(1.15);
}



/* MAIN BUTTONS */
.button {
  width: 224px;
  height: 5.1rem;
  font-size: 2.2rem;
  transition: background-color 0.4s ease-in-out;
  transition: 0.5s;
  transform: scale(1);
}
.button:hover {
  background-color: #f6184c;
  color: #FFFFFF;
  border-color: #131212;
  transform: scale(1.05);
  transition: 0.5s;
}
.button:active {
  background-color: #e9d8a6;
  color: #f6184c;
  border-color: #f6184c;
}


/* TITLES */
.title {
  font-size: 5.4rem;
  line-height: 4.8rem;
  margin-bottom: 70px;
  text-shadow:  1px 1px 22px #f6184c8a;
}
/* .title:hover {
  animation: color-change 2.8s linear infinite;
} */


/* SECTION ABOUT */
.sect-about {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 140px;
}
.sect-about__txt-zone {
  width: 57%;
}
.sect-about__txt-zone p {
  margin-right: 40px;
}  
#sect-about__link {
  transition: 0.4s;
}
#sect-about__link:hover {
  color: #e9d8a6;
  transition: 0.4s;
}

.sect-about__img {
  width: 25%;
  margin-left: 0;
  padding-left: 70px;
}
.sect-about img {
  height: 14.2vw;
  width: 14vw;
  max-width: 190px;
  max-height: 195px;
  margin: 0;
  transition: 0.5s;
}
.sect-about__img img:hover{
  transform: scale(1.06);
}


/* SECTION SKILLS */
.sect-skills {
  margin-bottom: 0;
  margin-bottom: 140px;
}
.sect-skills__txt-zone p {
  margin-bottom: 60px;
  font-size: 1.6rem;
}
.sect-skills__list {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 54px;
  justify-content: space-between;
  width: 82%;
}

@keyframes wobble-img {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.sect-skills__list img {
  width: 86px;
  height: 86px;
  margin-bottom: 8px;
}
.sect-skills__list img:hover {
  animation: letters-anim 1.2s ease 0s 1 normal forwards;
}
.sect-skills__list span {
  font-size: 1.6rem;
}


/* SECTION PROJECTS */
.sect-projects {
  margin-bottom: 140px;
}
.sect-projects__txt-zone p {
  margin-bottom: 60px;
  font-size: 1.6rem;
}

.sect-projects__wall {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 40px;
  margin-bottom: 15px;
  justify-content: space-between;
}
.project.aos-init.aos-animate, .project {
  min-height: 140px;
  width: 25vw;
  height: 19vw;
  max-height: 285px;
  max-width: 450px;
  transition: 0.5s;
  transform: scale(1);
}
.project.aos-init.aos-animate:hover, .project:hover {
  transform: scale(1.03);
}

.project img {
  height: calc(100% - 64px);
}
.project__info {
  height: 64px;
}
.project__title {
  font-size: 1.5rem;
}

.project__tools {
  margin-top: 7px;
}
.project__tools span img {
  height: 25px;
  width: auto;
  border-radius: 0;
}
.sect-projects__txt-zone p a {
  transition: 0.4s;
}
.sect-projects__txt-zone p a:hover {
  color: #e9d8a6;
  transition: 0.4s;
}


/* SECTION CONTACT */
.sect-contact {
  margin-bottom: 0;
  padding-bottom: 50px;
}
.sect-contact__txt-zone p {
  margin-bottom: 60px;
}
.sect-contact__form-cont {
  border-radius: 26px;
  padding: 26px;
  max-width: 700px;
}
.sect-contact__form-cont label {
  line-height: 2.6rem;
  font-size: 2rem;
  margin-bottom: 13px;
}
.sect-contact__form-cont .input-field {
  border-radius: 14px;
}


/* SOCIAL LINKS */
.social-links {
  right: 18px;
}
.social-links img {
  width: 28px;
  height: 28px;
  margin-bottom: 18px;
}

.social-links img:hover {
  animation: none;
  transform: scale(1.3);
}


/* ARROW UP */
.scroll-up {
  right: 9px;
  bottom: 12px;
}

.arrow-up {
  width: 42px;
  height: 42px;
  transition: 0.5s;
}
.arrow-up:hover {
  transform: scale(1.25);
}


/* SECTION FOOTER */
.footer {
  padding-top: 40px;
  padding-bottom: 32px;
}

.footer__content {
  padding-bottom: 0;
  min-height: 115px;
  margin-bottom: 20px;
}
.footer__text {
  width: 52%;
  font-size: 1.5rem;
}

.footer__author {
  width: 82%;
  margin-bottom: 0;
}
.footer__author p {
  font-size: 1.4rem;
}

.footer__author span {
  color: var(--red);
  font-weight: 800;
  text-shadow:  1px 1px 8px #f6184c8a;
  cursor: pointer;
  transition: 0.4s;
}
.footer__author a {
  text-decoration: none;
  color: var(--red);
  text-shadow:  1px 1px 8px #f6184c8a;
  transition: 0.4s;
}
.footer__author span:hover {
  color: #e9d8a6;
}
.footer__author a:hover {
  color: #e9d8a6;
}
/* 7.8->7.3
7 -> x */

@media screen and (max-width: 1550px) {
  /* SECTION HOME */
  .sect-home__m-txt {
    font-size: 6.8rem;
    line-height: 6.4rem;
    letter-spacing: 0.14rem;
    margin-bottom: 40px;
  }
  .sect-home__m-txt .hs {
    font-size: 7.8rem;
  }

  .button {
    width: 216px;
    height: 4.8rem;
    font-size: 2rem;
  }

  .sect-skills__list {
    gap: 48px;
  }

  .sect-skills__list img {
    width: 72px;
    height: 72px;
  }

  /* SECTION PROJECTS */
  .project.aos-init.aos-animate, .project {
    width: 24vw;
    height: 18vw;
  }
  .project img {
    height: calc(100% - 62px);
  }
  .project__info {
    height: 62px;
  }
  .project__title {
    font-size: 1.5rem;
  }
  .project__tools span img {
    height: 23px;
  }

  /* SECTION CONTACT */
  .sect-contact__form-cont {
    max-width: 645px;
  }
  .sect-contact__form-cont label {
    line-height: 2.4rem;
  }
}