:root {
	--title-font:'Pridi', serif;
	--main-font:'Open Sans', sans-serif;
  --main-black: #1d1d1d;
	--sec-black: #131212;
	--white:#FFFFFF;
  --gray: #8a8a8a;
  --red: #f6184c;
  --main-green: #20c79e;
  --sec-green: #94d2bd;
  --light-green: #e9d8a6;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: var(--main-font);
  color: var(--white);
  background-color: var(--main-black);
  scroll-behavior: smooth;
}

.body {
  background-color: var(--main-black);
}

/* CLASS INACTIVE */
body .inactive {
  display: none;
}
body .hide {
  clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
  transition-duration: 0.5s;
  height: 0; 
  animation-timing-function: ease;
}
body .switched {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  transition-duration: 0.5s;
}

/* MAIN CONTAINER */
.page-inner {
  width: 100%;
  min-width: 280px;
  background-color: var(--main-black);
}


/* NAV-BAR */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 18px;
  width: 100%;
  height: 64px;
  background-color: var(--sec-black);
}
nav a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a img {
  width:40px;
  border-radius: 10px;
}


/* LANGUAGE SELECTOR */
.lang {
  position: fixed;
  z-index: 1;
  top: 64px;
  right: 0;
  padding: 10px;
}
.lang ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lang ul li {
  display: flex;
  flex-direction: column;
}
.lang a {
  text-decoration: none;
}
#lang-selector {
  margin-bottom: 5px;
}
.lang img {
  width: 25px;
  margin-bottom: 6px;
}

/* .lang-options {
  height: 0;
  opacity: 0;
  transition: height 0.3s ease-out, opacity 0.3s ease-out;
} */
.lang-options .active {
  /* transition: display 1s ease; */
  /* display: block; */
  height: auto;
  opacity: 1;
  transition: height 0.3s ease-out, opacity 0.3s ease-out;
  /* transition: 0.3s ease; */
}

/* .lang .lang-options .active {
  display: block;
  transition: 0.5s ease;
} */

/* .lang ul li:hover .lang-options {
  display: block;
  opacity: 1;
}
 */
/* .lang li {
  display: inline-block;
  position: relative;
} */




.nav-links {
  position: absolute;
  top: 72px;
  right: 8px;
  width: 60%;
  max-width: 275px;
  height: 36vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 0px;
  color: var(--white);
  background-color: var(--sec-black);
  border-radius: 16px;
}
.nav-links li {
  list-style: none;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(215, 22, 77, 0.391);
}
.nav-links li:last-child {
  border: none;
}
.nav-links li a {
  width: 100%;
  font-family: var(--title-font);
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 0.12rem;
  line-height: 1.8rem;
  color: var(--white);
  text-shadow:  1px 1px 8px var(--light-green);
}



/* BUTTONS OPEN AND CLOSE MENU */
.mbtn {
  position: fixed;
  top: 17px;
  right: 10px;
  z-index: 11;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: rgba(7, 12, 10, 0.485);
  box-shadow: 0px 0px 10px 0px var(--light-green);
}
.mbtn-op img {
  width: 23px;
  height: 32px;
}
.mbtn-cl img {
  width: 28px;
  height: 28px;
}

.mbtn:active {
  transform: scale(0.85);
}


/* SECTION HOME */
.sect-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;
  min-width: 280px;
  height: 100vh;
  text-align: left;
  padding-left: 10px;
}
.sect-home__txt-zone {
  width: 82%;
  color: var(--main-white);
}
.sect-home__m-txt {
  font-family: var(--title-font);
  font-size: 4rem;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 32px;
  
}
.sect-home__m-txt span {
  cursor: pointer;
  display: inline-block;
}
.sect-home__m-txt .hs {
  color: var(--red);
  font-weight: 700;
  font-size: 4.3rem;
  text-shadow:  1px 1px 16px #f6184c8a;
  cursor: pointer;
  display: inline-block;
}

@keyframes letters-anim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.sect-home__m-txt span:hover {
  animation: letters-anim 1.2s ease 0s 1 normal forwards;
}

.sect-home__s-txt {
  padding-bottom: 16px;
  width: 192px;
}
.sect-home__s-txt a {
  position: relative;
  display: flex;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.18rem;
  text-decoration: none;
  color: var(--red);
  padding-bottom: 8px;
}
.sect-home__s-txt a span {
  margin-left: 10px;
}
.sect-home__s-txt img {
  width: auto;
  height: 23px;
}

/* MAIN BUTTONS */
.button {
  margin: 30px 2px 10px;
  width: 170px;
  height: 4rem;
  border-color: var(--red);
  background-color: var(--sec-black);
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 0.22rem;
  color: var(--red);
  /* box-shadow: 1px 1px 7px 0px var(--light-green), -1px -1px 7px 0px var(--light-green); */
  cursor: pointer;
  border-radius: 12px;
  transform: scale(1);
}
.button:active {
  background-color: var(--red);
  color: var(--white);
  border-color: var(--sec-black);
}

/* TITLES */
.title {
  width: 82%;
  margin: 0 0 34px;
  font-size: 3.7rem;
  line-height: 3.4rem;
  font-family: var(--title-font);
  font-weight: 700;
  color: var(--red);
  text-shadow:  1px 1px 16px #f6184c8a;
  align-self: center;
  letter-spacing: 0.1rem;
  cursor: pointer;
}


/* SECTION ABOUT */
.sect-about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8vh;
  min-width: 280px;
  padding-right: 20px;
  padding-left: 10px;
}
.sect-about__txt-zone {
  width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sect-about__txt-zone p {
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-family: var(--sec-font);
}
#sect-about__link {
  width: 100%;
  text-decoration: none;
  margin-bottom: 65px;
  font-size: 1.5rem;
  color: var(--red);
}

.sect-about__img {
  width: 82%;
}

.sect-about__img img {
  width: 140px;
  height: 145px;
  margin-bottom: 42px;
  border-radius: 24px;
  align-self: left;
  box-shadow: 0px 0px 10px 0 var(--light-green);
}


/* SECT SKILLS */
.sect-skills {
  position: relative;
  display: flex;
  margin-bottom: 8vh;
  padding-right: 20px;
  padding-left: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  text-align: left;
}
.sect-skills__txt-zone {
  width: 82%;
}
.sect-skills__txt-zone p {
  margin-bottom: 38px;
  font-size: 1.5rem;
}

.sect-skills__list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 25px;
  list-style: none;
  padding: 12px 5px;
  justify-content: space-between;
  font-family: var(--sec-font);
  width: 82%;
  margin: auto 0;
}
.sect-skills__list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 34px;
}
.sect-skills__list img {
  width: 48px;
  height: 48px;
  margin-bottom: 5px;
  cursor: pointer;
}

.sect-skills__list span {
  font-size: 1.3rem;
  color: var(--light-green);
} 


/* SECTION PROJECTS */
.sect-projects {
  position: relative;
  display: flex;
  margin-bottom: 8vh;
  padding-right: 20px;
  padding-left: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 280px;
}
.sect-projects__txt-zone {
  width: 82%;
}
.sect-projects__txt-zone p {
  font-size: 1.5rem;
  margin-bottom: 38px;
}
.sect-projects__txt-zone p a {
  text-decoration: none;
  color: var(--red);
}

.sect-projects__wall {
  width: 82%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  border: none;
  border-radius: 16px;
  position: relative;
  height: 50vw;
  width: 95%;
  margin-bottom: 25px;
  background-color: var(--sec-black);
  box-shadow: 0px 0px 10px 0px var(--light-green);
  cursor: pointer;
}
.project img {
  width: 100%;
  height: calc(100% - 60px);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.project__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 62px;
  padding: 8px 0 12px 14px;
  font-family: var(--sec-font);
}
.project__title {
  position: relative;
  top: 5px;
  left: 0;
  height: 16px;
  margin: 0 0 8px 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--main-white);
}
.project__tools {
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px 0 0 0;
  background-color: var(--sec-black);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.project__tools span {
  display: inline-flex;
  margin-right: 8px;
  padding: 0 4px 6px;
}
.project__tools {
  margin-top: 5px;
}
.project__tools span img {
  height: 20px;
  width: auto;
  border-radius: 0;
}

.project__button {
  width: 82%;
}
.button-projects {
  align-self: flex-start;
}


/* SECTION CONTACT */
.sect-contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  text-align: left;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 10px;
}
.sect-contact__txt-zone {
  width: 82%;
  padding-right: 16px;
  height: 93%;
}
.sect-contact__txt-zone .title {
  margin-top: 25px;
}
.sect-contact__txt-zone p {
  font-size: 1.5rem;
  margin-bottom: 38px;
} 

.sect-contact__form-main-cont {
  width: 82%;
}
.sect-contact__form-cont {
  width: 100%;
  margin-bottom: 30px;
  padding: 19px 20px 19px;
  box-shadow: 0 0 8px 0 var(--light-green);
  border-radius: 16px;
}
.sect-contact__form-cont .form-control {
  margin-bottom: 10px;
}
.sect-contact__form-cont label {
  display: block;
  line-height: 2.6rem;
  font-family: var(--title-font);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--red);
  margin-bottom: 8px;
}
.sect-contact__form-cont .input-field {
  width: 100%;
  padding: 8px;
  border: none;
  font-size: 1.4rem;
  font-family: var(--main-font);
  outline: none;
  border-radius: 12px;
}

.sect-contact__links {
  margin-bottom: 10px;
  padding: 10PX 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22%;
}
.sect-contact__links .contact-icon img {
  width: 40px;
  height: 40px;
}


/* SECTION FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 280px;
  background-color: var(--sec-black);
  padding: 35px 20px 15px 10px;
}
.footer__content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--red);
  padding-top: 24px;
  padding-bottom: 10px;
  min-height: 125px;
  margin-bottom: 30px;
}
.footer__icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 90px;
  margin: 0 18px;
}
.footer__icons div {
  height: calc(100% / 3);
  display: flex;
}

.footer__icons img {
  width: 30px;
  height: 30px;
}
.footer__icons div:first-child img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.footer__icons div:last-child img {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.footer__text {
  width: 80%;
  font-size: 1.3rem;
  font-family: var(--main-font);
  color: var(--white);
  text-align: left;
  padding:0 15px 0 13px;
}

.footer__author {
  display: flex;
  flex-direction: column;
  width: 82%;
  margin-bottom: 20px;
}
.footer__author p {
  font-family: var(--main-font);
  font-size: 1.3rem;
  margin-bottom: 5px;
}
.footer__author span {
  color: var(--red);
  font-weight: 800;
  text-shadow:  1px 1px 8px #f6184c8a;
  cursor: pointer;
}
.footer__author a {
  text-decoration: none;
  color: var(--red);
  text-shadow:  1px 1px 8px #f6184c8a;
}

.footer__author span:active {
  color: var(--light-green);
}
.footer__author a:active {
  color: var(--light-green);
}


/* SOCIAL LINKS */
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.social-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 43%;
  right: 10px;
}
.social-links img {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  animation: scale 2s infinite ease-in-out;
}


/* ARROW UP */

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}
.scroll-up {
  position: fixed;
  right: 5px;
  bottom: 8px;
  cursor: pointer;
  animation: move 2s infinite ease-in-out;
}

.arrow-up {
  width: 34px;
  height: 34px;
}
