/* NAV-BAR */
nav h1 a {
  font-size: 4.6rem;
}
.nav-links {
  height: 30vh;
}

/* BUTTONS OPEN AND CLOSE MENU */


/* LANGUAGE SELECTOR */
.lang {
  position: fixed;
  z-index: 1;
  top: 67px;
  right: 0;
  padding: 10px;
}
.lang img {
  width: 29px;
  margin-bottom: 6px;
}


/* SECTION HOME */
.sect-home {
  margin-bottom: 0;
}

.sect-home__m-txt {
  font-size: 5.4em;
  line-height: 4.9rem;
  letter-spacing: 0.12rem;
  margin-bottom: 38px;
}
.sect-home__m-txt .hs {
  font-size: 5.9rem;
  text-shadow:  1px 1px 20px #f6184c8a;
}


.sect-home__s-txt a {
  font-size: 1.8rem;
  letter-spacing: 0.22rem;
  text-shadow:  2px 2px 5px #f6184c8a;
}
.sect-home__s-txt a span {
  margin-left: 10px;
}
.sect-home__s-txt img {
  width: auto;
  height: 25px;
}


/* MAIN BUTTONS */
.button {
  width: 210px;
  height: 4.8rem;
  font-size: 1.8rem;
}


/* TITLES */
.title {
  font-size: 4.6rem;
  margin-bottom: 52px;
}


/* SECTION ABOUT */
/* .sect-about {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 110px;
}
.sect-about__txt-zone {
  width: 48%;
}
.sect-about__txt-zone p {
  font-size: 1.6rem;
  margin: 0 25px 0 0;
}  
#sect-about__link {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.sect-about__img {
  width: 32%;
  margin-left: 20px;
  padding-right: 15px;
}
.sect-about img {
  width: 100%;
  height: 31vw;
  max-width: 200px;
  max-height: 206px;
  margin: 0;
} */


/* SECTION SKILLS */
.sect-skills {
  margin-bottom: 0;
  margin-bottom: 90px;
}
.sect-skills__txt-zone p {
  margin-bottom: 40px;
  font-size: 1.6rem;
}
.sect-skills__list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 45px;
  justify-content: space-between;
  width: 82%;
}
.sect-skills__list img {
  width: 65px;
  height: 65px;
}
.sect-skills__list span {
  font-size: 1.5rem;
}


/* SECTION PROJECTS */
.sect-projects {
  margin-bottom: 102px;
}
.sect-projects__txt-zone p {
  margin-bottom: 40px;
  font-size: 1.6rem;
}

.sect-projects__wall {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 20px;
  margin-bottom: 10px;
}
.project {
  min-height: 140px;
  width: 37vw;
  height: 26vw;
  max-height: 240px;
}
.project img {
  height: calc(100% - 60px);
}
.project__info {
  height: 60px;
}
.project__title {
  font-size: 1.4rem;
}

.project__tools {
  margin-top: 6px;
}
.project__tools span img {
  height: 22px;
  width: auto;
  border-radius: 0;
}

/* SECTION CONTACT */
.sect-contact {
  margin-bottom: 0;
}
.sect-contact__txt-zone {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.sect-contact__txt-zone p {
  margin-bottom: 40px;
  font-size: 1.6rem;
}

.sect-contact__form-cont {
  padding: 20px 26px 20px;
  max-width: 610px;
}
.sect-contact__form-cont .form-control {
  margin-bottom: 15px;
}
.sect-contact__form-cont label {
  line-height: 2.6rem;
  font-size: 1.8rem;
  margin-bottom: 13px;
}
.sect-contact__form-cont .input-field {
  padding: 13px;
  font-size: 1.6rem;
}


/* SOCIAL LINKS */
.social-links {
  top: 46%;
  right: 13px;
}
.social-links img {
  width: 24px;
  height: 24px;
  margin-bottom: 14px;
}


/* ARROW UP */
.scroll-up {
  right: 8px;
  bottom: 12px;
}

.arrow-up {
  width: 38px;
  height: 38px;
}


/* SECTION FOOTER */
.footer__content {
  padding-bottom: 0;
  min-height: 115px;
  margin-bottom: 20px;
}
.footer__text {
  width: 70%;
  font-size: 1.4rem;
  padding:0 15px 0 13px;
}
